.item
    display: block
    // border: 1px solid red
    position: relative
    margin: 0.5rem

input
    opacity: 0.1
    position: absolute

.item__checkbox-container
    display: inline-block
    position: relative
    // margin-right: 1rem
    // background-color: indianred
    height: 27px
    width: 27px
    cursor: pointer

.item__checkbox
    // position: absolute
    // top: 0
    // left: 0
    margin: auto

.item__checkbox:after 
    // height: 10px
    // background-color: cyan
    width: 10px
    display: block
    margin: auto
    content: "-"
    text-align: center

.item__checkbox--is-checked:after
    content: "c"

$strike-time: 100ms
$shake-time: 200ms

.item__content-container
    // background-color: green
    position: relative
    &--is-checked
        // animation: $strike-time 1 normal shaken
        animation: shaken $shake-time ease-out 0s 1 forwards

$leading-space: 2rem

.item__content
    margin-left: $leading-space
    margin-right: 0.25rem

.item__content:before
    content: ""
    position: absolute
    top: 50%
    border-bottom: 2px solid black
    // transition: none
    // animation: none
    // left: 0
    // width: 0

.item__content--is-checked.item__content:before
    // width: calc(100% - $leading-space)
    // left: $leading-space
    // transition: width $strike-time cubic-bezier(0.35, 0, 0, 1), left $strike-time cubic-bezier(0.35, 0, 0, 1)
    animation: pierce $strike-time ease-out 0s 1 forwards

@keyframes pierce
    0%
        width: 0%
        left: 0
    80%
        width: calc(100% - $leading-space)
        left: $leading-space
    100%
        width: calc(100% - $leading-space)
        left: $leading-space


@keyframes shaken
    0%
        margin-left: 0

    40%
        margin-left: 0
    50%
        margin-left: 1rem
    90%
        margin-left: 1rem
    100%
        margin-left: 0
