@use 'sass:math'
    
.item
    display: block
    position: relative
    margin: 2rem

input
    opacity: 0
    position: absolute

// Checkbox

$switch-time: 250ms

.item__checkbox-container
    display: inline-block
    position: relative
    height: 23px

.item__checkbox
    position: absolute
    margin: auto

.item__checkbox:after
    width: 10px
    display: block
    margin: auto
    text-align: center

.item__checkbox--dash.item__checkbox:after
    content: "\2014"
    transform: scale(1, 1)

.item__checkbox--check.item__checkbox:after
    content: "\2714"
    transform: scale(0, 0)

.item__checkbox--is-checked
    &.item__checkbox--dash.item__checkbox:after
        animation: hide-dash $switch-time ease-out 0s 1 forwards

    &.item__checkbox--check.item__checkbox:after
        animation: show-checkmark $switch-time ease-out $switch-time 1 forwards

@keyframes hide-dash
    0%
        transform: scale(1, 1)
    100%
        transform: scale(0, 1)

@keyframes show-checkmark
    0%
        transform: scale(0, 0)
    100%
        transform: scale(1, 1)

// Dust particles

$dust-time: 400ms
$dust-count: 6
$dust-distance: 15px

.item__dust
    position: absolute
    top: 50%
    left: 2px
    background-color: black
    border-radius: 50%
    width: 5px
    height: 5px
    transform: scale(0, 0)
    transition: none

.item__checkbox-container--is-checked
    @for $i from 0 through ($dust-count - 1)
        .item__dust--no-#{$i}
            $degree: math.div(360deg, $dust-count) * $i
            $x: $dust-distance * (math.sin($degree))
            $y: $dust-distance * math.cos($degree)

            transition: transform $dust-time ease-out, opacity $dust-time ease-out
            transition-delay: $switch-time
            transform: scale(2, 2) translate($x, $y)
            opacity: 0

// Content

$strike-time: 250ms
$shake-time: 350ms

.item__content-container
    position: relative
    cursor: pointer

    &--is-checked
        animation: shaken $shake-time ease-out 0s 1 forwards

$leading-space: 3rem

.item__content
    margin-left: $leading-space
    margin-right: 0.25rem

.item__content:before
    content: ""
    position: absolute
    top: 50%
    border-bottom: 2px solid black

.item__content--is-checked.item__content:before
    animation: pierce $strike-time ease-out 0s 1 forwards

@keyframes pierce
    0%
        width: 0%
        left: 0
    80%
        width: calc(100% - $leading-space)
        left: $leading-space
    100%
        width: calc(100% - $leading-space)
        left: $leading-space


@keyframes shaken
    0%
        margin-left: 0
    40%
        margin-left: 0
    50%
        margin-left: 1rem
    90%
        margin-left: 1rem
    100%
        margin-left: 0
